@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --white:#ffffff;
    --bg: #ffffff;
    --ink: #000000;
    --green: #20aa4e;
    --border-color:rgb(229, 231, 235);
    --greyish: #f0f2f3;
    --blueish: rgb(33, 35, 90);
    --grey: rgb(229, 231, 235);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 
                "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
                sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
                "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
    font-weight: 500;
    color: var(--ink);
    text-decoration: none;
    overflow-x: hidden;
    background-color: var(--bg);
    min-height: 100vh;
}
/* Default Styles for Mobile View */
nav{
    width: 100%;
    padding: 20px 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border-bottom: 0px solid var(--border-color);
    border-left: 0px solid var(--border-color);
    border-right: 0px solid var(--border-color);
    box-shadow:  0px solid var(--border-color);
    background-color: var(--bg);
    height: 80px;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    
}
.logo{
    padding: auto;
    display: block;
    
}
.logo a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--ink);
    height: 40.8px;
}
.logo img{
    height: 40px;
    width: 40px;
}
.logo-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    
}
.logo-text h6{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo-text p{
    font-size: 10px;
    font-weight: 600;
    line-height: 11px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 
.sidebar {
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: fit-content;
    background-color: var(--white);
    padding-top: 20px;
    transition: transform 0.3s ease;
}
.sidebar .logo{
    z-index: 1;
    width: 80%;
    position: inherit;
}
.sidebar ul {
    
    list-style-type: none;
    padding-top: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: center;
    align-items: center;

}

.sidebar ul li {
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--ink);
}
.sidebar ul li a{
    text-decoration: none;
    color: var(--ink);
}
#socialMedia{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#socialMedia ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}
#socialMedia img{
    width: 18px;
    height: 18px;
}
#register{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#register ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    padding-top: 0px;
}
#register ul li{
    text-align: center;
}
#register ul li a{
    text-decoration: none;

}
#register img{
    width: 24px;
    height: 24px;
}
#register button{
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--ink);
    line-height: 18px;
    padding: 10px 18px;
    cursor: pointer;
}
#register button:hover{
    background-color: var(--greyish);
       border-radius: 4px;
    border: 1px solid var(--border-color);
    box-sizing: border-box;
}

.toggle-buttons {
    display: flex;
    align-items: center;
    height: 40px;
    border: none;
    outline: none; /* Removes the focus outline */
    background: none; 
}

.menu-toggle, .close-toggle {
    cursor: pointer;
    display: inline-block;
    border: none;        /* Remove border */
    outline: none;      /* Remove focus outline */
    background: none;   /* Optional: Remove background color */
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Use a thin font */
    font-size: 30px; /* Adjust size as needed */
    font-weight: thin; /* Thinner line weight */
}

.close-toggle {
    display: none;
}

/* Desktop Nav */
.main-navbar{
    display: none;
}
.desktop-nav {
    display: none;
}
.swiper.container{
    display: none;
}
.main-section{
    width: 100%;
    padding: 30px 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 24px;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    row-gap: 26px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
section h1{
    font-size: 32px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: var(--ink);
}
section h3{
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
}
section h2{
    font-size: 28px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: var(--blueish);
    cursor: pointer;
}
.fade {
    opacity: 1;
    animation: fadeAnimation 3s infinite; /* Animate continuously over 3 seconds */
}

/* Keyframes for fading animation */
@keyframes fadeAnimation {
    0% { opacity: 1; }    /* Fully visible */
    50% { opacity: 0.1; } /* Almost invisible */
    100% { opacity: 1; }  /* Fully visible again */
}
section img{
    box-sizing: border-box;
    border: 0px solid var(--grey);
    /* Maintain aspect ratio */
    height: 320px; /* Ensure the image fills the height */
    width: 100%; /* Ensure the image fills the width */
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    object-position: center; /* Center the image within the container */
}
section button{
    width: 60%;
    box-sizing: border-box;
    border: 1px solid var(--green);
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
    padding: 10px 8px;
}
section button a{
    text-decoration: none;
    background-color: var(--green);
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section1{
    width: 100%;
}
.section1 button{
    width: 60%;
    box-sizing: border-box;
    border: 1px solid var(--green);
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
    padding: 10px 8px;
}
.section1 button a{
    text-decoration: none;
    background-color: var(--green);
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section2{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -30px;
    background-color: var(--grey);
}
.section2 h3{
    background-color: var(--grey);
}
.section2 h2{
    background-color: var(--grey);    
}
.section2 img{
    background-color: var(--grey);    
}


.section3{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--greyish);
}
.section3 h3{
    background-color: var(--greyish);
}
.section3 h2{
    background-color: var(--greyish);    
}
.section3 img{
    background-color: var(--greyish);    
}

.minor-section{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 20px;
    background-image: url('./images/fadedlogo.png'); /* Replace with your image path */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: center; /* Scale the image to cover the containe*/

}
.minor-section .side-part{
    background-color: transparent;
}
.minor-section h1{
    width: 70%;
    font-size: 32px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: var(--ink);
    background-color: transparent;
    cursor: pointer;
}
.minor-section span{
    background-color: transparent;
}
.minor-section address{
    width: 70%;
    font-size: 12px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: var(--ink);
    font-style: normal;
    cursor:pointer;
    background-color: transparent;
    margin-top: 20px;
}
.minor-section address strong{
    background-color: transparent;
}
.minor-section address br{
    background-color: transparent;
}
.info-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 14px;
    background-color: transparent;
}
.info-buttons button{
    width: 60%;
    box-sizing: border-box;
    border: 1px solid var(--green);
    border-radius: 4px;
    background-color: var(--green);
    cursor: pointer;
    color: var(--white);
    padding: 10px 8px;
}
.info-buttons button a{
    text-decoration: none;
    background-color: var(--green);
    color: inherit;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.minor-section2{
    display: none;
}
footer{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.footer-list{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.footer-list ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-style: underline;
    list-style: none;
    text-decoration: none;
}
.footer-list ul li{
    color: var(--ink);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: underline;
    text-decoration: none;
}
.footer-list ul li a{
    text-decoration: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.copyright{
    display: block;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: -10px;
}

@media (min-width: 760px){
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
    section{
        row-gap: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section1 h1{
        margin-bottom: 10px;
    }
    .section1 button{
        width: 35%;
    }
    .section2 .side-part{
        background-color: var(--grey) ;
    }
    .section2 h3{
        margin-bottom: 10px;
    }
    .section3 .side-part{
        background-color: var(--greyish);
    }
    .section3 h3{
        margin-bottom: 10px;
    }
    .minor-section{
        padding-left: 20px;
        padding-right: 20px;
    }
    .info-buttons button{
        width: 40%;
    }
}

/* Media Query for Larger Screens */
@media (min-width: 1000px) {
    .navbar{
        height: fit-content;
        margin: auto;
    }
    .navbar .logo{
        display: none;
    }
    .sidebar {
        display: none;
    }
    .sidebar ul{
        display: none;
    }
    .sidebar .logo{
        display: none;
    }

    .toggle-buttons {
        display: none;
    }
    
    


    nav .main-navbar {
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 20px;
        justify-content: center;
        align-items: center;
        column-gap: 18%;
        margin: auto;
        border-bottom: 2px solid var(--greyish);
        box-shadow: 1px var(--greyish);
    
    }
    nav .main-navbar .logo{

        display: flex;
        
        
    }
    nav .main-navbar a .logo img{
        height: 80px;
        width: 80px;
    }
    nav .main-navbar a .logo-text{
        height: fit-content;
    }
    nav .main-navbar a .logo-text h6{
        line-height: 34px;
        font-size: 34px;
    }
    nav .main-navbar a .logo-text p{
        line-height: 16px;
        font-size: 16px;
    }
    nav .main-navbar .desktop-nav{
        display: flex;
        position: relative;
    }
    .main-navbar .desktop-nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        width: 100%;
        list-style: none;
    }

    .main-navbar .desktop-nav ul li{
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        color: var(--ink);
    }
    .main-navbar .desktop-nav ul li:hover{
        color: var(--green);
    }
    .main-navbar .desktop-nav ul li.active{
        color: var(--green);
    }
    .main-navbar .desktop-nav ul li a{
        text-decoration: none;
        text-transform: lowercase;
        text-transform: capitalize;
        color: var(--ink);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .main-navbar .desktop-nav ul li a:hover{
        color: var(--green);
    }
    .main-navbar .desktop-nav ul li a.active{
        color: var(--green);
    }
    .main-navbar .desktop-nav .socialMedia{
        display: none;
    }
    #register button{
    
        font-size: 20px;
        font-weight: 600;
    }
    .main-section{
        row-gap: 20px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    section{
        height: 90vh;
        flex-direction: row;
        column-gap: 5%;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    section .side-part{
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    section .side-part h1{
        font-size: 56px;
        line-height: 56px;
    }
    section .side-part h2{
        font-size: 44px;
        line-height: 45px;
        width: 90%;
    }
    section .side-part h3{
        font-size: 28px;
        line-height: 28px;
    }
    .section1 button a{
        font-size: 20px;
        line-height: 24px;
    }
    section img{
        width: 40%;
        height: 70%;
    }
    .section2{
        background-color: var(--grey);
    }
    .section2 .side-part{
        background-color: var(--grey);
    }
    .section3 .side-part{
        background-color: var(--greyish);
    }
    .minor-section{
        flex-direction: row;
        column-gap: 10%;
        margin: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .minor-section .side-part{
        width: 50%;
        background-color: transparent;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .minor-section .side-part h1{
        font-size: 48px;
        line-height: 48px;
        width: 80%;
    }
    .minor-section .side-part address{
        font-size: 20px;
        line-height: 24px;
        width: 80%;
    }
    .minor-section .info-buttons{
        width: 40%;
    }
    .info-buttons button{
        padding: 10px 26px;
        width: fit-content;
    }
    .info-buttons button a{
        font-size: 20px;
        line-height: 24px;
    }
    .minor-section{
        display: none;
    }
    .minor-section2{
        display: none;
        flex-direction: column;
        row-gap: 20px;
        margin: auto;
        width: 100%;
        height: 90vh;
        align-items: flex-start;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .minor-section2 h1{
        width: 80%;
        margin:auto;
        font-size: 56px;
        font-weight: 400;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: left;
        color: var(--ink);
        background-color: transparent;
        cursor: pointer;
    }
    .minor-section2-content{
        width: 80%;
        margin:auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 10%;
    }
    .logo-photo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    .logo-photo img{
        height: 80%;
        width: 80%;
    }
    .logo-photo .copyright{
        font-size: 18px;
    }
    .minor-section2-content .side-part{
        width: 30%;
    }
    .minor-section2-content .side-part address{
        font-size: 20px;
        line-height: 24px;
        width:80%;
        margin-bottom: 20px;
    }
    .minor-section2-content .side-part  .info-buttons{
        margin-top: 20px;
    }
    .minor-section2-content .side-part .info-buttons button{
        width: 80%;
        margin-top: 6px;
    }
    .socials-list{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        
    }
    .socials-list ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    }
    .socials-list ul li{
        box-sizing: border-box;
        border: 1px solid var(--greyish);
        border-radius: 4px;
        padding: 10px 56px;
        width: 100%;
        font-size: 18px;
    }
    #linkedin{
        background-color: #d7edfb;
        color: var(--ink);
    }
    #linkedin a{
        text-decoration: none;
        background-color: #d7edfb;
        color: var(--ink);
    }
    #instagram{
        background-color: #b1f1e4;
        color: var(--ink);
    }
    #instagram a{
        text-decoration: none;
        background-color: #b1f1e4;
        color: var(--ink);

    }
    #facebook{
        background-color: #4d3b6a;
        color: var(--white);
    }
    #facebook a{
        text-decoration: none;
        background-color: #4d3b6a;
        color: var(--white);
    }
    #tiktok{
        background-color: #000000;
        color: var(--white);
    }
    #tiktok a{
        text-decoration: none;
        background-color: #000000;
        color: var(--white);
    }
    footer{
        display: none;
    }

    /* footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-list ul{
        column-gap: 20px;
    }
    .footer-list ul li{
        font-size: 16px;
    }
    .copyright{
        font-size: 18px;
    } */
    
    
    
}
@media (min-width: 1200px){
    nav{
        position: fixed;
        top:0;
        left:0;
        z-index: 999;
        height: 80px;
    } 
    .main-navbar{
        width: 100%;
        margin: auto;
        justify-content: space-between;
    }
    .main-navbar .logo{
        width: 18%;
    }
    .main-navbar .logo a img{
        height: 48px;
        width: 48px;
    }
    .main-navbar a .logo-text {
        line-height: 28px;
    }
    .main-navbar a .logo-text h6{
        line-height: 28px;
    }
    .main-navbar a .logo-text p{
        line-height: 14px;
        font-size: 14px;
    }
    .main-navbar .desktop.nav{
        width: 82%;
    }
    
    .main-section{
        display: none;
    }
    .minor-section{
        display: none;
    }
    .minor-section2{
        display: none;
    }
    footer{
        display: none;
    }
    /* Set Swiper container and slide dimensions */
.swiper-container {
    width: 100%;
    height: 95vh; /* Full screen height for each slide */
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  .card {
    width: 100%;
    /* max-width: 800px; */
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  /* Add styles for individual sections, images, and text */
  .side-part {
    padding: 20px;
  }
  
  .side-part h1, .side-part h2, .side-part h3 {
    margin: 10px 0;
  }
  
  img {
    width: 100%;
    height: auto;
  }

}